################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ITLT/v15/Server/sqlite3/db.lock
/ITLT.ExtentionMethods/bin/Debug
